
## Default ignored files
#/workspace.xml

# Ignore everything
.idea/csc-workspace.iml

# Ignore brick storage folder
web-server/internal-volume
# Ignore node modules folder
node_modules/.package-lock.json


# But not these files...
!.gitignore
!bin
!bin/**
!octopus
!octopus/*
!LICENSE
!package.json
!package-lock.json
!README.md
!CHANGELOG
!web-server/secure-channels/wallet-patch
